body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  padding: 20px;
}

h1 {
  color: #38bdf8;
}

input {
  padding: 8px;
  width: 250px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

li {
  background: #020617;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
}
